<%= content_tag(:h1, "#{user.name}'s Profile") %>

<p><%= show_bio(user) %></p>

<%= content_tag(:p, link_to('Update Bio', edit_user_path(user))) if current_user == user %>
<%= content_tag(:p, link_to('Check out loglines', user_loglines_path(user))) %>
<%= link_to "Back to Public Loglines", root_path %>

