<div>
	<p>--------</p>
	<p>Written by: <%= link_to logline.user.name, user_path(logline.user) %></p>
	<%= render 'shared/logline_details', logline: logline %>

	<% if has_categories?(logline) %>
		<h2>Categories</h2>
		<% logline.categories.each do |category| %>
			<span><%= link_to category.name, category_path(category) %> </span>	
		<% end %>
	<% end %>

	<% if current_user.id != logline.user_id %>
		<% if already_rated?(logline, current_user.id) %>
			<p>Your Rating: <%= current_user_rating(logline) %></p>
		<% else %>
			<%= render 'loglines/rating_form', logline: logline %>
		<% end %>
	<% end %>
	
</div>