<h1>Loglines</h1>
<% @loglines.reverse.each do |logline| %>
	<div>
		<p>----------------------------------------------------</p>
		<p><%= logline.content %></p>
		<p>Written by: <%= link_to logline.user.name, user_loglines_path(logline.user) %></p>
		<p><%= logline.to_date %></p>
		<% if !logline.categories.empty? %>
			<h2>Categories</h2>
			<% logline.categories.each do |category| %>
				<span><%= link_to category.name, category_path(category) %> </span>	
			<% end %>
		<% end %>
		<!-- # This is where the average rating should go -->
	</div><br>
	<% if logline.users.exists?(current_user.id) %>
		<p>User has rated this logline!</p>
	<% else %>
		<%= form_tag '/ratings', method: :post do  %>
			<%= hidden_field_tag(:logline_id, "#{logline.id}") %>
			<%= hidden_field_tag(:user_id, "#{current_user.id}") %>
			<%= number_field(:rating, :rating, in: 1..100, step: 1) %> 
			<%= submit_tag 'Add rating' %>
		<% end %>
	<% end %>	
			
		
<% end %>

